<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<h1>This is HNotifier!!!</h1>
<div class="container">
  <div class="starter-template">
    <p th:text="${name}"></p>
    <h1>Thymeleaf + Spring Security</h1>
    <h2>1. Visit <a th:href="@{/login}">Login page </a></h2>
    <h2>2. Visit <a th:href="@{/registration}">Registration page</a></h2>
    <h2>3. Go to the <a th:href="@{/user}">secured pages</a></h2>
    <!--<form th:action="@{/logout}" method="post">-->
    <!--<input type="submit" value="Sign Out"/>-->
    <!--</form>-->
  </div>
  <div sec:authorize="isAuthenticated()">
    <a th:href="@{/logout}">Log out</a>
  </div>
</div>
</body>
</html>
