<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

  <title>Registration</title>
</head>
<body>
<div class="container">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Login page</h1>
      <form th:action="@{/login}" method="POST">
        <div th:if="${error}">
          <div class="alert alert-danger">
            <div th:utext="${error}"></div>
          </div>
        </div>
        <div th:if="${logout}">
          <div class="alert alert-info">
            You have been logged out.
          </div>
        </div>
        <div class="form-group">
          <label for="login">Username</label>:
          <input type="text"
                 id="login"
                 name="login"
                 class="form-control"
                 autofocus="autofocus"
                 placeholder="Login"
                 required="true"/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>:
          <input type="password"
                 id="password"
                 name="password"
                 class="form-control"
                 placeholder="Password"
                 required="true"/>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <input type="submit"
                     name="login-submit"
                     id="login-submit"
                     class="form-control btn btn-info"
                     value="Log In"/>
            </div>
          </div>
        </div>
        <p>Remember Me: <input type="checkbox" name="remember-me"/></p>
        <p>Show Password: <input type="checkbox" name="showpass" id="chkShowPassword"/></p>
      </form>
      <div class="form-group">
        <span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
      </div>

      <p>Return to <a th:href="@{/index}">main page</a></p>
    </div>
  </div>


</div>

<script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
  $(function () {
    $("#chkShowPassword").bind("click", function () {
      var txtPassword = $("#password");
      if ($(this).is(":checked")) {
        txtPassword.after('<input onchange = "PasswordChanged(this);" id = "txt_'
            + txtPassword.attr("id") + '" type = "text" value = "' + txtPassword.val() + '" />');
        txtPassword.hide();
      } else {
        txtPassword.val(txtPassword.next().val());
        txtPassword.next().remove();
        txtPassword.show();
      }
    });
  });

  function PasswordChanged(txt) {
    $(txt).prev().val($(txt).val());
  }
</script>
</body>
</html>