<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Secured Page</title>
</head>
<body>
<h1>Secured page (testing security)</h1>
<p>Page only visible for ROLE_USER</p>
<!--<div sec:authorize="isRememberMe()">-->
<!--<h2># This user is login by "Remember Me Cookies".</h2>-->
<!--</div>-->
<div sec:authorize="isFullyAuthenticated()">
  <h2># This user is login by username / password.</h2>
</div>
<a th:href="@{/index}"> Return to main page</a>
</body>
</html>